In [1]:
s = pd.Series([0, 1, 2, 3, 4, 5])

NameError: name 'pd' is not defined

In [2]:
import pandas as pd
s = pd.Series([0, 1, 2, 3, 4, 5])

In [3]:
s

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [4]:
s.sample()

1    1
dtype: int64

In [5]:
s.sample()

2    2
dtype: int64

In [6]:
s.sample()

0    0
dtype: int64

In [7]:
s.sample(3)

3    3
1    1
5    5
dtype: int64

In [8]:
    import numpy as np
    
    df2 = pd.DataFrame({'a': ['one', 'one', 'two', 'three', 'two', 'one', 'six'],
                        'b': ['x', 'y', 'y', 'x', 'y', 'x', 'x'],
                        'c': np.random.randn(7)})

In [9]:
criterion = df2['a'].map(lambda x: x.startswith('t'))

In [10]:
criterion

0    False
1    False
2     True
3     True
4     True
5    False
6    False
Name: a, dtype: bool

In [11]:
df2[criterion]

       a  b         c
2    two  y -2.017250
3  three  x -0.329621
4    two  y  0.048212

In [14]:

lst=[1,2,3]
for i in range(len(lst)):
    remLst = lst[:i] + lst[i+1:]

In [15]:
remLst

[1, 2]

In [16]:
lst=[1,2,3]
for i in range(len(lst)):
    remLst = lst[:i] + lst[i+1:] 
    print(remLst)

[2, 3]
[1, 3]
[1, 2]