In [ ]:
import numpy as np

In [ ]:
import numpy as pd
from pandas import Series , DataFrame

In [ ]:
import numpy as np

In [1]:
# figuring out what data is missing

missing =np.nan
series_obj =Series(['row 1','row 2',missing,'row 4','row 6',missing,'row 8'])
series_obj

NameError: name 'np' is not defined

In [2]:
import numpy as np
missing =np.nan
series_obj =Series(['row 1','row 2',missing,'row 4','row 6',missing,'row 8'])
series_obj

NameError: name 'Series' is not defined

In [3]:
imports pandas as pd
from pandas import Series , DataFrame
import numpy as np
missing =np.nan
series_obj =Series(['row 1','row 2',missing,'row 4','row 6',missing,'row 8'])
series_obj

SyntaxError: invalid syntax (<ipython-input-3-d4040362761d>, line 1)

In [4]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd
missing =np.nan
series_obj =Series(['row 1','row 2',missing,'row 4','row 6',missing,'row 8'])
series_obj

0    row 1
1    row 2
2      NaN
3    row 4
4    row 6
5      NaN
6    row 8
dtype: object

In [5]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd
missing =np.nan
series_obj =Series(['row 1','row 2',missing,'row 4','row 6',missing,'row 8'])
series_obj

0    row 1
1    row 2
2      NaN
3    row 4
4    row 6
5      NaN
6    row 8
dtype: object

In [6]:
missing =np.nan
series_obj=Series(['row 1'])

In [7]:
series_obj

0    row 1
dtype: object

In [8]:
series_obj.isnull()

0    False
dtype: bool

In [9]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd
missing =np.nan
series_obj =Series(['row 1','row 2',missing,'row 4','row 6',missing,'row 8'])
series_obj

0    row 1
1    row 2
2      NaN
3    row 4
4    row 6
5      NaN
6    row 8
dtype: object

In [10]:
series_obj.isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
dtype: bool

In [11]:
#filling missing values
np.random.seed(25)
DF_obj =DataFrame(np.random.randn(36).reshape(6,6))
DF_obj

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734 -0.232312
2  2.152957 -1.334661  0.076380 -1.246089  1.202272 -1.049942
3  1.056610 -0.419678  2.294842 -2.594487  2.822756  0.680889
4 -1.577693 -1.976254  0.533340 -0.290870 -0.513520  1.982626
5  0.226001 -1.839905  1.607671  0.388292  0.399732  0.405477

In [12]:
np.random.seed(25)
DF_obj =DataFrame(np.random.randn(46).reshape(6,6))
DF_obj

ValueError: cannot reshape array of size 46 into shape (6,6)

In [13]:
np.random.seed(25)
DF_obj =DataFrame(np.random.randn(36))
DF_obj

           0
0   0.228273
1   1.026890
2  -0.839585
3  -0.591182
4  -0.956888
5  -0.222326
6  -0.619915
7   1.837905
8  -2.053231
9   0.868583
10 -0.920734
11 -0.232312
12  2.152957
13 -1.334661
14  0.076380
15 -1.246089
16  1.202272
17 -1.049942
18  1.056610
19 -0.419678
20  2.294842
21 -2.594487
22  2.822756
23  0.680889
24 -1.577693
25 -1.976254
26  0.533340
27 -0.290870
28 -0.513520
29  1.982626
30  0.226001
31 -1.839905
32  1.607671
33  0.388292
34  0.399732
35  0.405477

In [14]:
np.random.seed(25)
DF_obj =DataFrame(np.random.randn(36).reshape(6,6))
DF_obj

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734 -0.232312
2  2.152957 -1.334661  0.076380 -1.246089  1.202272 -1.049942
3  1.056610 -0.419678  2.294842 -2.594487  2.822756  0.680889
4 -1.577693 -1.976254  0.533340 -0.290870 -0.513520  1.982626
5  0.226001 -1.839905  1.607671  0.388292  0.399732  0.405477

In [15]:
DF_obj.loc[3:5,0] = missing
DF_obj.loc[1:4,5] = missing

In [16]:
DF_obj

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734       NaN
2  2.152957 -1.334661  0.076380 -1.246089  1.202272       NaN
3       NaN -0.419678  2.294842 -2.594487  2.822756       NaN
4       NaN -1.976254  0.533340 -0.290870 -0.513520       NaN
5       NaN -1.839905  1.607671  0.388292  0.399732  0.405477

In [17]:
fill_DF = DF_obj.fillna(0)
fill_DF

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734  0.000000
2  2.152957 -1.334661  0.076380 -1.246089  1.202272  0.000000
3  0.000000 -0.419678  2.294842 -2.594487  2.822756  0.000000
4  0.000000 -1.976254  0.533340 -0.290870 -0.513520  0.000000
5  0.000000 -1.839905  1.607671  0.388292  0.399732  0.405477

In [18]:
fill_DF = DF_obj.fillna(0:0.1,5:1.25)
fill_DF

SyntaxError: invalid syntax (<ipython-input-18-70de1064a7c2>, line 1)

In [19]:
fill_DF = DF_obj.fillna({0:0.1,5:1.25})
fill_DF

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734  1.250000
2  2.152957 -1.334661  0.076380 -1.246089  1.202272  1.250000
3  0.100000 -0.419678  2.294842 -2.594487  2.822756  1.250000
4  0.100000 -1.976254  0.533340 -0.290870 -0.513520  1.250000
5  0.100000 -1.839905  1.607671  0.388292  0.399732  0.405477

In [20]:
fill_DF = DF_obj.fillna(method='ffill')
fill_DF

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734 -0.222326
2  2.152957 -1.334661  0.076380 -1.246089  1.202272 -0.222326
3  2.152957 -0.419678  2.294842 -2.594487  2.822756 -0.222326
4  2.152957 -1.976254  0.533340 -0.290870 -0.513520 -0.222326
5  2.152957 -1.839905  1.607671  0.388292  0.399732  0.405477