In [1]:
z=(3,4,5,6,"sumanta","ram")#tuple 
print(z)

(3, 4, 5, 6, 'sumanta', 'ram')

In [6]:
z[3]=20     #tuple is immutable//not further changebale

TypeError: 'tuple' object does not support item assignment

In [5]:

x=[2,3,5,6,"sumanta","ram"]#list is mutable that means after 
x[3]=20#list supppot item assignment
print(x)

[2, 3, 5, 20, 'sumanta', 'ram']

In [2]:
#tupple also support +indexing as - indexin

print(z[-1])

ram

In [3]:
print(z[2:5])#slicing

(5, 6, 'sumanta')

In [4]:
print(z[-4:-1])   #z=(3,4,5,6,"sumanta","ram")#tuple

(5, 6, 'sumanta')

In [6]:
#how to convert a tuple in to a list
print(z)
y=list(z)#
print(y)

(3, 4, 5, 6, 'sumanta', 'ram')
[3, 4, 5, 6, 'sumanta', 'ram']

In [21]:
#how to covert a list into tuple
d=[1,3,65,789,87]
print(d)
c=tuple(d)
print(c)

[1, 3, 65, 789, 87]
(1, 3, 65, 789, 87)

In [2]:
 t = 12345, 54321, 'hello!'

In [22]:
print(t)

(12345, 54321, 'hello!')

In [4]:
w=z,t#here both the tuple z and t are packed inside w

In [5]:
print(w)

((3, 4, 5, 6, 'sumanta', 'ram'), (12345, 54321, 'hello!'))

In [9]:
n,m=w    #here we have unpacked both the tuple inside another variable called n and m
print(n)

(3, 4, 5, 6, 'sumanta', 'ram')

In [7]:
print(m)

(12345, 54321, 'hello!')

In [10]:
 v = ([1, 2, 3], [3, 2, 1],["sumanta","maji"])#a tuple can consist list inside

In [11]:
tuple3 = ('sumanta',)*3
print(tuple3)

('sumanta', 'sumanta', 'sumanta')

In [16]:
tuple3 = ('sumanta',)*3
print(tuple3)

('sumanta', 'sumanta', 'sumanta')

In [17]:
del tuple3

In [18]:
print(tuple3)

NameError: name 'tuple3' is not defined

In [26]:

tuple1 = ('python', 'geek') 
tuple2 = ('coder', 1) 
  
if __cmp__(tuple1, tuple2) != 0: 
  
    # cmp() returns 0 if matched, 1 when not tuple1  
    # is longer and -1 when tuple1 is shoter 
    print('Not the same')
else:
    print("same")

NameError: name '__cmp__' is not defined

In [1]:
a=set()
print(a)

set()

In [2]:
a=set([1,2,3,4])#we are passing a list of element inside set method
print(a)

{1, 2, 3, 4}

In [3]:
s={"sumanta",200,300,"ram"}#set
print(s)

{200, 'sumanta', 'ram', 300}

In [6]:
s={"sumanta",200,300,"ram",200,"sumanta"}

In [7]:
print(s)#set does not support duplicate element

{200, 'sumanta', 'ram', 300}

In [14]:
s[2]={"modi"}

TypeError: 'set' object does not support item assignment

In [12]:
a[1]=5

TypeError: 'set' object does not support item assignment

In [15]:
s.add("akash")

In [16]:
print(s)

{200, 'ram', 300, 'akash', 'sumanta'}

In [18]:
s.add("shruti")

In [19]:
print(s)

{200, 'ram', 300, 'akash', 'sumanta', 'shruti'}

In [24]:
s.add(("saheli","anuska","ramanuj"))

In [25]:
print(s)

{200, 'ram', 300, ('saheli', 'anuska', 'ramanuj'), 'akash', 'sumanta', 'shruti'}

In [ ]:
#set is iterable 
set1=set()

for i in range(5):
    a=input("enter a name :   ")
    set1.add(a)
    
    
print(set1)

In [ ]:
#set is iterable 
set1=set()
for i in range(5):
    a=input("enter a name :   ")
    set1.add(a)
    
    
print(set1)

In [ ]:
for i in set1:
    print(i)