In [2]:
#empty dictionary

my_dict = {}


#dictionary with integer keys

my_dict1={"a":"apple",2:"ball",3:"orange",4:"banana","sumanta":"maji"}
print(my_dict1["sumanta"])

maji

In [5]:
#dictionary with mixed keys
my_d={"name":"sumanta","score":[70,80,60]}#list can also be declare inside a dictionary when ever requre
print(my_d["score"])

[70, 80, 60]

In [6]:
#how to change or add elements in a dictionary
my_dict={'name':'sumanta','age':25}
my_dict['age']=30
print(my_dict)

{'name': 'sumanta', 'age': 30}

In [7]:
#how to change or add elements in a dictionary
my_dict={'name':'sumanta','age':25,"Address":"city center"}#updateing data inside a dictionary by using its key element
my_dict['age']=30
print(my_dict)

{'name': 'sumanta', 'age': 30, 'Address': 'city center'}

In [8]:
my_dict["Address"]="Durgapur"
print(my_dict)

{'name': 'sumanta', 'age': 30, 'Address': 'Durgapur'}

In [9]:
#loop over a dictionary lets say for loop
for x in my_dict:
    print("{}:::::   {}".format(x,my_dict[x]))# this is the way of formatting in python

name:::::   sumanta
age:::::   30
Address:::::   Durgapur

In [10]:
for x in my_dict.values():# if i am asked to only print the value element inside a dictianary then
    print(x)# looping through only values inside dictionary ,we must have to use values() method

sumanta
30
Durgapur

In [11]:
#loop through both the key amd values ,by using the items() function

for x,y in my_dict.items():
    print(x,y)

#{'name': 'sumanta', 'age': 30, 'Address': 'Durgapur'}


#lets say in 1st iteration x=name and y= sumanta
# 2nd iteration x=age and y=30
#3rd iteartin x= adress and y=durgapur

name sumanta
age 30
Address Durgapur

In [12]:
print(my_dict)

{'name': 'sumanta', 'age': 30, 'Address': 'Durgapur'}

In [14]:
del my_dict['age']#by using the del key we are deleting an element inside dictionary

In [15]:
print(my_dict)

{'name': 'sumanta', 'Address': 'Durgapur'}

In [16]:
student={'sumanta':9900345678,
         'sanjukta':49820740827,'saheli':7842987,'shruti':39264327,'poulami':20837487,'anuska':28949387,'ramanuj':2874636423,'akash':924762736}


print(student)

{'sumanta': 9900345678, 'sanjukta': 49820740827, 'saheli': 7842987, 'shruti': 39264327, 'poulami': 20837487, 'anuska': 28949387, 'ramanuj': 2874636423, 'akash': 924762736}

In [18]:
sorted(student)#to display the key element of a dictionary in a shorted order

['akash',
 'anuska',
 'poulami',
 'ramanuj',
 'saheli',
 'sanjukta',
 'shruti',
 'sumanta']

In [22]:
'rama' not in student

True

In [23]:
list(student)# here i am passing my dictionary inside a built in method called list()

['sumanta',
 'sanjukta',
 'saheli',
 'shruti',
 'poulami',
 'anuska',
 'ramanuj',
 'akash']

In [ ]:
#another way of creating dictionary is by using built in method called dict()

In [24]:
stud = dict([('sumanta',6329269),('saheli',63486548),('poulomi',26487674)])

print(stud)

{'sumanta': 6329269, 'saheli': 63486548, 'poulomi': 26487674}

In [25]:
#dictionary using arbitary key and value expression

{x:x**2 for x in range(2,10)}#1st iteration x=2  {2:4}
                             #2nd iteration x=3  {2:4,3:9}
                             #3rd iteration x=4 {2:4,3:9,4:16}

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [26]:
stud.clear()

In [27]:
print(stud)

{}

In [29]:
#dictionary inside a dictionary
myfamily={
    
    'Father':{'name':'ram','age':60,'ph_no':9485093489},
    'Mother':{'name':'sita','age':55,'ph_no':695384765},
    'child1':{'name':'lob','age':20,'ph_no':264876384},
    'child2':{'name':'kush','age':20,'ph_no':691317673}
}


print(myfamily)

{'Father': {'name': 'ram', 'age': 60, 'ph_no': 9485093489}, 'Mother': {'name': 'sita', 'age': 55, 'ph_no': 695384765}, 'child1': {'name': 'lob', 'age': 20, 'ph_no': 264876384}, 'child2': {'name': 'kush', 'age': 20, 'ph_no': 691317673}}

In [30]:
myfamily['Mother']['name']#find out mother name

'sita'

In [31]:
myfamily['child2']['age']=25

In [32]:
print(myfamily)

{'Father': {'name': 'ram', 'age': 60, 'ph_no': 9485093489}, 'Mother': {'name': 'sita', 'age': 55, 'ph_no': 695384765}, 'child1': {'name': 'lob', 'age': 20, 'ph_no': 264876384}, 'child2': {'name': 'kush', 'age': 25, 'ph_no': 691317673}}

In [38]:
#pop() method to remove element of a specified key

myfamily['Father'].pop()

60

In [39]:
print(myfamily)

{'Father': {'name': 'ram', 'ph_no': 9485093489}, 'Mother': {'name': 'sita', 'age': 55}, 'child1': {'name': 'lob', 'age': 20, 'ph_no': 264876384}, 'child2': {'name': 'kush', 'age': 25, 'ph_no': 691317673}}